{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="description"/>
    <meta name="author" content="Marcin Rudzki" />
    <meta name="keywords" content="weather" />
    <link rel="icon" type="image/x-icon" href='http://openweathermap.org/img/w/{{icon}}.png'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <title>Check weather!</title>
  </head>
  <body>

    <div class="container text-center">
      <div class="align-items-center">
        <form method='POST' class="row"> {% csrf_token %}
            <div class="p-2">
              <input type="text" name="city" placeholder="Type city name" maxlength="25">
            </div>
            <div class="p-2">
              <button type="submit" class="btn btn-primary"  >Submit</button>
            </div>
        </form>
      </div>

      <div class="col">
            {% if temp is None %}
                {% else %}
                    <img src='http://openweathermap.org/img/w/{{icon}}.png' width="100px" height="100px"/>
                {% endif %}
      </div>    
      <div class="h-100 d-flex align-items-center justify-content-center">        
        <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col"><h4>Name of property</h4></th>
            <th scope="col"><h4>Property value</h4></th>
          </tr>
          
          <tr>
            <td><h6>Temperature</h6></td>
            <td>{{temp}} &#8451;</td>
          </tr>
          <tr>
            <td><h6>Feel like</h6></td>
            <td>{{feel_like}} &#8451;</td>
          </tr>
          <tr>
            <td><h6>City</h6></td>
            <td>{{city}}</td>
          </tr>
          <tr>
            <td><h6>Description</h6></td>
            <td>{{description}}</td>
          </tr>
          <tr>
            <td><h6>Pressure</h6></td>
            <td>{{pressure}} hPa</td>
          </tr>
          <tr>
            <td><h6>Humidity</h6></td>
            <td>{{humidity}} %</td>
          </tr>
          <tr>
            <td><h6>Wind speed</h6></td>
            <td>{{wind_speed}} meter/sec</td>
          </tr>
          <tr>
            <td><h6>Cloudiness</h6></td>
            <td>{{clouds}} %</td>
          </tr>
          <tr>
        </thead>
    </div>
        
          

        
    </table>
    </div>
      
         

    
  </body>
</html>